\*.pyc

# Mac attribute files as seen from unix
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
sdist/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
